* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #2a2a2a;
  font-family: 'Lato', sans-serif;
}

body {
  background: url(/body-img.jpg);
}

.to-do-container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  width: 1200px;
  max-width: 40%;
  margin: 200px auto;
  list-style: none;
  justify-items: center;
  border-radius: 5px;
  box-shadow: 1px 3px 20px -8px #000;
}

.to-do-container > * {
  border-bottom: 1px solid rgb(185, 185, 185);
  padding: 0.7rem;
}

.to-do-container > li {
  display: flex;
}

.title {
  font-size: 18px;
  font-weight: 700;
}

.header {
  display: flex;
  justify-content: space-between;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.form > * {
  border-bottom: 1px solid rgb(185, 185, 185);
  width: 100%;
}

.input-container {
  display: flex;
  justify-content: space-between;
  padding: 0.7rem;
}

.text-input {
  border: none;
  font-style: italic;
  outline: none;
  width: 100%;
}

.fa-arrow-turn-down {
  transform: scaleX(1) rotate(90deg);
}

.checkbox {
  border: 1px solid #000;
  border-radius: 2px;
  width: 0.9rem;
  height: 0.9rem;
  background-color: #fff;
  margin-right: 0.5rem;
  cursor: pointer;
}

.checkbox-selected {
  background-color: rgb(240, 210, 255);
  border-color: rgb(143, 143, 143);
}

.checkbox:hover {
  background-color: blueviolet;
  border-color: #000;
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.7rem;
  border-bottom: 1px solid rgb(185, 185, 185);
}

.list-item span {
  width: 100%;
}

.text-selected {
  text-decoration: line-through;
  color: rgb(143, 143, 143);
}

.list-selected-item {
  background-color: #fffed3;
}

.fa-ellipsis-v {
  padding: 0 4px;
  cursor: pointer;
}

.disable-edit {
  display: none;
}

.fa-trash-can {
  display: none;
}

.delete-icon {
  display: block;
}

.clear-button-container {
  display: flex;
  justify-content: center;
  background-color: #efefef;
  padding: 10px;
  width: 100%;
}

.clear-button {
  border: none;
  color: #1b1e20;
  font-size: 15px;
  border-radius: 5px;
  cursor: pointer;
}

.clear-button:hover {
  color: #000;
  text-decoration: underline;
}

@media only screen and (max-width: 768px) {
  .to-do-container {
    max-width: 90%;
    padding: 20px;
  }
}
